@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Welcome to FoodHub, your ultimate destination for seamless food court management within shopping malls. With FoodHub, we revolutionize the dining experience, offering efficient solutions for both patrons and vendors. 
    Navigate through our platform to discover a diverse array of culinary delights, 
    streamline your orders, and indulge in an unparalleled dining journey. Join us at FoodHub, where convenience meets culinary excellence, transforming your mall visits into unforgettable gastronomic adventures.</p>
</main>