@model FoodHub.Models.FoodOrder

@{
    ViewBag.Title = "Confirmation";
}
<div class="row">
    <div class="col-sm-6">
        <center>
            <br />
            <h3>Order Status</h3>
            @if (Model.orderStatus == "accepted")
            {
                <div style="width:250px;height:100px;border-radius:20px;" class="bg-warning">
                    <h1 class="text-light" style="padding:25px;">ACCEPTED</h1>
                </div>
            }
            else if ((Model.orderStatus == "pending"))
            {
                <div style="width:250px;height:100px;border-radius:20px;" class="bg-primary">
                    <h1 class="text-light" style="padding:25px;">WAITING</h1>
                </div>
            }
            else if ((Model.orderStatus == "done"))
            {
                <div style="width:200px;height:100px;border-radius:20px;" class="bg-success">
                    <h1 class="text-light" style="padding:25px;">DONE</h1>
                </div>
            }
            else
            {
                <div style="width:200px;height:100px;border-radius:20px;" class="bg-danger">
                    <h1 class="text-light" style="padding:25px;">FAILED</h1>
                </div>
            }

        </center>
    </div>
    <div class="col-sm-6">
        <center>
            <img src="~/images/LogoWarning.png" style="max-width:150px;" />
            <h1>Token : @Model.Token@Model.Oid</h1>
            <h4>Amount : ₹ @Model.totalPrice</h4>
            <input type="hidden" id="status" value="@Model.orderStatus" />
        </center>
    </div>
</div>
<hr />
<h3 class="text-warning">Order List</h3>

<div id="foodTableContainer"></div>
<table>
    <tr>
        <td></td>
    </tr>
</table>


@section Scripts{
    <script>
        $(document).ready(function () {
                $.ajax({
                    type: 'POST',
                    url: '/Home/getfooditems',
                    data: { Orderid: @Model.Oid},
                    success: function (response) {

                        var $table = $('<table>').addClass('food-table table');

                        var $thead = $('<thead>').appendTo($table);
                        var $headerRow = $('<tr>').appendTo($thead);
                        $('<th>').text('Food Name').appendTo($headerRow);
                        $('<th>').text('Quantity').appendTo($headerRow);

                        var $tbody = $('<tbody>').appendTo($table);
                        console.log(response);
                        console.log(response.length);
                        for (var i = 0; i < response.length; i++)
                        {
                            var $row = $('<tr>').appendTo($tbody);
                            $('<td>').text(response[i].FoodName).appendTo($row);
                            console.log(response[i]);
                            $('<td>').text(response[i].Quantity).appendTo($row);
                        }
                        $('#foodTableContainer').append($table);

                    },
                    error: function (error) {
                        console.error('Error getting food list:', error.message);
                    }
                });
        });
    </script>
}
